:root{
    --Yellow: #FCB500;
    --Black: #343434;
    --Gray: #E6EBEF;
    --Green: #A3D818;
    --GrayDark: #736B6B;
    --GrayWhite: #F9FAFC;

}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
}

h1,h2,h3,h4{
    margin: 0;
}

img{
    width: 100%;
}

button:hover{
    cursor: pointer;
}
/*Home*/
.main_header{
    max-width: 100vw;
    min-height: 10rem;
    min-width: 130rem;
    background-color: var(--Black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
}

.main_header_nav{
    display: flex;
    gap: 5rem;
    font-size: 1.6rem;
    align-items: center;
}

.main_header_nav_basic{
    color: var(--Gray);
}

.main_header_nav_basic:hover{
    color: var(--Yellow)
}

.main_header_nav_basic_buttons{
    display: flex;
    gap: 2rem;
}


.main_header_nav_buttons_button{
    height: 2.8rem;
    width: 14rem;
    border: solid var(--Yellow);
    color: var(--Yellow);
    border-radius: 0.5rem;
    border-width: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_header_nav_buttons_button_paint{
    height: 2.8rem;
    width: 14rem;
    border: solid var(--Yellow);
    border-radius: 0.5rem;
    border-width: 0.2rem;
    background-color: var(--Yellow);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Login*/

.main_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
    background-color: var(--Yellow);
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 130rem;
}

.main_login_elements{
    width: 100%;
    height: 40rem;
    justify-content: space-between;
    padding: 20rem;
    align-items: center;
    display: flex;
}


.main_login_element_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_login_element_form_title{
    border-radius: 2rem 2rem 0 0;
    height: 8rem;
    width: 34rem;
    display: flex;
    background-color: var(--Green);
    box-shadow: 0px -2px 15px -6px #000000;
    align-items: center;
    justify-content: center;
}

.main_login_element_form_title h1{
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.main_login_element_form_form{
    height: 30rem;
    width: 34rem;
    display: flex;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.40);
}

.main_login_element_form_form_input{
    width: 24rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--Gray);
    padding: 2rem;
    font-size: 1.4rem;
}

.main_login_element_form_form_input:first-child{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    
}

.main_login_element_form_form_linkN{
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.3em;
    font-weight: 300;
}

.main_login_element_form_form_button{
    width: 24rem;
    height: 4rem;
    background-color: var(--Black);
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 2rem;
}

.main_login_element_form_form_button:hover{
    cursor: pointer;
}

.main_login_element_form_form input:focus{
    border: 1px solid black;
    outline: none;
}

.main_login_element_form_form_linkG{
    color: var(--Green);
    margin-top: 2rem;
    font-size: 1.5em;
    font-weight: 700;
}

.main_login_element_image{
display: flex;
align-items: center;
height: 100%;
width: 100rem;
}

.main_login_element_back{
    width: 100%;
    height: 10rem;
    background-color: #000000;
}

/*Register*/
.main_register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
    background-color: var(--Yellow);
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 130rem;
}

.main_register_elements{
    width: 100%;
    height: 40rem;
    justify-content: space-between;
    padding: 20rem;
    align-items: center;
    display: flex;
    gap: 4rem;
}


.main_register_element_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_register_element_form_head{
    width: 55rem;
    height: 13rem;
    background-color: white;
    box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

.main_register_element_form_form{
    width: 55rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0px -9px 15px -3px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
    gap: 1rem;
}



.main_register_element_image{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100rem;
    }

.main_register_element_image img{
    width: 80%;

}

.main_register_element_form_head_title{
    font-size: 1rem;
}

.main_register_element_form_head_title h1{
    font-weight: 400;
}

.main_register_element_form_head_Process{
    display: flex;
    gap: 10rem;
}

.main_register_element_form_head_Process_circle{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.main_register_element_form_head_Process_circle_circle{
    border: solid var(--Gray);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.main_register_element_form_head_Process_circle_circle h2{
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--Gray);
}

.main_register_element_form_head_Process_circle_title h2{
    color: var(--Gray);
    font-weight: 400;
    font-size: 1.6rem;
}

.main_register_element_form_head_Process_circle_circle_active{
    background-color: var(--Green);
    color: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.main_register_element_form_head_Process_circle_circle_active h2{
    font-weight: 400;
    font-size: 1.5rem;
}

.main_register_element_form_head_Process_circle_title_active h2{
    color: var(--Green);
    font-weight: 400;
    font-size: 1.6rem;
}

.main_register_element_form_form_row{
    display: flex;
    gap:3rem;
}

.main_register_element_form_form_row_group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main_register_element_form_form_row_group input{
    border: 2px solid var(--Gray);
    height: 2.8rem;
    width: 20rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.main_register_element_form_form_row_group label{
    font-weight: 300;
    font-size: 1.5rem;
}

.main_register_element_form_form_row button{
    margin-top: 2rem;
    width: 15rem;
    height: 3.5rem;
    background-color: var(--Green);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_register_element_form_form_row button:hover{
    cursor: pointer;
}

.main_register_element_form_form_row_group1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*Register 2*/
.main_register_element_form_form_row_group1 input{
    border: 2px solid var(--Gray);
    height: 2.8rem;
    width: 43rem;
    border-radius: 0.5rem;
}

.main_register_element_form_form_row_group1 label{
    font-weight: 300;
    font-size: 1.5rem;
}


/*Register 3*/

.main_register_element_form_form2{
    width: 55rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0px -9px 15px -3px rgba(0,0,0,0.6);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 3rem 0 3rem 0;
    gap: 3rem;
}

.main_register_element_form_form_column{
    display: flex;
    flex-direction: column;
    height: 19rem;
    gap: 2rem
}

.main_register_element_form_form_column_group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main_register_element_form_form_column_group input{
    border: 2px solid var(--Gray);
    height: 2.8rem;
    width: 20rem;
    border-radius: 0.5rem;
}

.main_register_element_form_form_column_group label{
    font-weight: 300;
    font-size: 1.5rem;
}

.main_register_element_form_form_column_group_pdf{
    width: 20rem;
    height: 12rem;
    border: 2px solid var(--Gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.main_register_element_form_form_column_group_pdf h2{
    font-weight: 300;
    font-size: 1.2rem;
}

.main_register_element_form_form_column_group_pdf input{
    display: none;
}

.main_register_element_form_form_column_group_pdf label:hover{
    cursor: pointer;
}

.main_register_element_form_form_column_group_op{
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main_register_element_form_form_column_group_op textarea{
    border: 2px solid var(--Gray);
    height: 100%;
    width: 20rem;
    border-radius: 0.5rem;
    resize: none;
}

.main_register_element_form_form_column_group_op label{
    font-weight: 300;
    font-size: 1.5rem;
}

.main_register_element_form_form2_button button{
    margin-top: -6rem;
    width: 15rem;
    height: 3.5rem;
    background-color: var(--Green);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_register_element_form_form2_button a:hover{
    cursor: pointer;
}

.form_register_separate{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*Row Back register*/

.row_back{
    display: flex;
    align-items: center;
    gap: 2em;
    position: absolute;
    top: 6rem;
    left: 7rem;
}

.row_back img{
    height: 2rem;
}

.row_back h2{
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}

.row_back:hover{
    cursor: pointer;
}

/*Modal Info*/

.modalInfo{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
}

.modalInfo_content{
    background-color: white;
    height: 12rem;
    width: 35rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalInfo__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
    height: 7rem;
    width: 33rem;
}


.modalInfo__text h2{
    font-weight: 900;
    font-size: 2rem;
}

.modalInfo__text h3{
    font-weight: 400;
    font-size: 1.5rem;
}

.modalInfo__button button{
    height: 2.5rem;
    width: 7rem;
    background-color: var(--Green);
    border: none;
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: white;
}

.modalInfo__button button:hover{
    cursor: pointer;
}

/*Como funciona*/

.main_section_selectors{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 2rem;

}

.main_Section_selectors_selector_y, 
.main_Section_selectors_selector_b{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-bottom: -4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_Section_selectors_selector_y img, 
.main_Section_selectors_selector_b img{
    width: 70%;
}

.main_Section_selectors_selector_y img:hover, 
.main_Section_selectors_selector_b img:hover{
    cursor: pointer;
}



.main_Section_selectors_selector_y{
    background-color: var(--Yellow);
}

.main_Section_selectors_selector_b{
    background-color: var(--Black);
}

.main_steps_image{
    margin-top: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    justify-content: center;
}


.main_steps_image img{
    width: 70%;
}

/*Footer*/
.main_footer{
    margin-top: 5rem;
    height: 30rem;
    background-color: var(--Black);
    display: flex;
}

.main_footer_social{
    height: 100%;
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.main_footer_social_apps{
    padding-top: 1rem;
    height: 10rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main_footer_social_apps h3{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--Gray);
}

.main_footer_social_social{
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    width: 50rem;
    color: var(--Gray);
}

.main_footer_social_apps_image img{
    width: 10%;
}

.main_footer_social_social h3{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--Gray);
}

.main_footer_social_apps_image{
    gap: 3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.main_footer_social_social_content_media{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;

}

.main_footer_social_social_content_media_content{
    width: 4rem;
    height: 4rem;
    background-color: var(--Gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_footer_social_social_content_media_content img{
    width: 70%;
}

.main_footer_info{
    width: 70%;
    margin-right:30rem;
    display: flex;
}

.main_footer_info_div{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    

}

.main_footer_info_div_img{
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_footer_info_div_img img{
    height: 50%;
    width: 50%;
    
}

.main_footer_info_div a{
    display: block;
}

.main_footer_info_div:first-child,
.main_footer_info_div:last-child
{
    padding-top: 5rem;
    
}

.main_footer_info_div:first-child a,
.main_footer_info_div:last-child a{
    font-size: 1.7rem;
    color: var(--Gray);
    font-weight: 400;
    margin-bottom: 2rem;
    
}

.main_footer_info_div:last-child a{
 justify-content: center;
 text-align: end;
}

/*Home Restaurant*/

.main_restaurant{
    display: flex;
    
}
.main_restaurant_content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main_restaurant_content_header{
    box-shadow: 0px 4px 15px -6px #000000;
    position: fixed;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: space-between;
    color: var(--GrayWhite);
    font-size: 1.3rem;
    background-color: var(--Green);

}

.main_restaurant_content_header h2:last-child{
    font-size: 1.7rem;
}

.main_restaurant_content_image{
    margin-top: 7rem;
}

.main_restaurant_content_state{
    margin-top: 5rem;
    display: flex;
    gap: 5rem;
    padding-right: 10rem;
    padding-left: 10rem;
    justify-content: center;
}

.main_restaurant_content_state_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 5rem ;
    height: 20rem;
    width: 45%;
    background-color: var(--GrayWhite);
}

.main_restaurant_content_state_content h3{
    font-size: 2rem;
    color: var(--Black);
}

.main_restaurant_content_state_content p{
    margin: 0;
    font-size: 2rem;
    color: var(--Black);
    font-weight: 300;
    text-align: center;
}

.main_restaurant_content_state_content img{
    width: 60%;
}

.main_restaurant_aside{
    position: fixed;
    background-color: var(--Black);
    width: 6rem ;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_restaurant_aside_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    padding: 2rem;
    border-bottom: 2px solid #6C6C6C;
}

.main_restaurant_aside_main_options{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap:1rem;
    border-bottom: 2px solid #6C6C6C;
    
}

.main_restaurant_aside_config_options{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap:1rem;
    
}

.main_restaurant_aside_main_options_optionHome,
.main_restaurant_aside_main_options_optionStadistic,
.main_restaurant_aside_main_options_optionComment,
.main_restaurant_aside_main_options_optionSuggestion,
.main_restaurant_aside_main_options_optionComplaint,
.main_restaurant_aside_config_options_optionProfile,
.main_restaurant_aside_config_options_optionLogout{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.main_restaurant_aside_main_options_optionHome img:hover{
    cursor: pointer;
}

.main_restaurant_aside_main_options_optionStadistic img:hover{
    cursor: pointer;
}

.main_restaurant_aside_main_options_optionComment img:hover{
    cursor: pointer;
}

.main_restaurant_aside_main_options_optionSuggestion img:hover{
    cursor: pointer;
}

.main_restaurant_aside_main_options_optionComplaint img:hover{
    cursor: pointer;
}

.main_restaurant_aside_main_options_optionHome_title,
.main_restaurant_aside_main_options_optionStadistic_title,
.main_restaurant_aside_main_options_optionComment_title,
.main_restaurant_aside_main_options_optionSuggestion_title,
.main_restaurant_aside_main_options_optionComplaint_title,
.main_restaurant_aside_config_options_optionProfile_title,
.main_restaurant_aside_config_options_optionLogout_title{
    background-color: var(--Black);
    width: 12rem;
    height: 4rem;
    position: absolute;
    margin-right: -22rem;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    color: var(--Gray);
    display: none;
}

/*Comments*/

.main_restaurant_content_comments{
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    row-gap: 4rem;
    padding-right: 10rem;
    padding-left: 16rem;
    width: 100%;
}

.main_restaurant_content_comments_comment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 2rem ;
    height: 22rem;
    width: 100%;
    background-color: var(--GrayWhite);
}

.main_restaurant_content_comments_comment_image{
    width: 15rem;

}

.main_restaurant_content_comments_comment_content{
    width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.main_restaurant_content_comments_comment_content_score{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main_restaurant_content_comments_comment_content_score_star{
    height: 3rem;
    width: 3rem;
}

.main_restaurant_content_comments_comment_content_score_score{
    margin-left: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.main_restaurant_content_comments_comment_content_score_title{
    font-size: 2.5rem;
    font-weight: 600;
}


.main_restaurant_content_comments_comment_content_name{
    font-size: 1.5rem;
    font-weight: 600;
}

.main_restaurant_content_comments_comment_content_comment{
    font-size: 1.2rem;
    font-weight: 300;
}
.main_restaurant_content_comments_comment_content_date{
    font-size: 1.3rem;
    font-weight: 400;
}

/*Edit Profile*/
.main_restaurant_content_infoc_contact_header{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Yellow);
    margin-top: 2rem;
    padding-left: 6rem;
    font-size: 1.5rem;
    color: var(--GrayWhite);
}

.main_restaurant_content_infoc_contact_content{
    margin-top: 3rem;
    padding-left: 6rem;
}

.form_infoc_contacts{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(2, 20rem);
    gap: 10rem;
    row-gap: 4rem;

}

.form_infoc_contacts_input{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.form_infoc_contacts_input input{
    width: 24rem;
    height: 4rem;
    border: 2px solid var(--Black);
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.4rem;
}

.form_infoc_contacts_input label{
    font-size: 1.5rem;
}

.form_infoc_contacts_buttons{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.form_infoc_contacts_buttons_button:last-child{
    display: flex;
    justify-content: left;
    align-items: center;
}

.form_infoc_contacts_buttons_button button{
    height: 3rem;
    width: 15rem;
    background-color: var(--Green);
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.form_infoc_contacts_response{
    width: 100%;
    display: none;
    justify-content: center;
    font-size: 1.4rem;
    color: red;
}


.main_restaurant_content_infoc_menu{
    margin-top: 3rem;
    width: 100%;
    height: 25rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.main_restaurant_content_infoc_menu_pdf{
    width: 30rem;
    height: 20rem;
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid var(--Black);
    background-color: var(--Black);
    border-radius: 1rem;
}
.main_restaurant_content_infoc_menu_pdf h3{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--GrayWhite);
}
.main_restaurant_content_infoc_menu_pdf img{
    width: 40%;
}

.main_restaurant_content_infoc_menu_pdf label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main_restaurant_content_infoc_menu_pdf input{
    display: none;
}

.main_restaurant_content_infoc_menu_pdf button{
    margin-top: 1rem;
    height: 2rem;
    width: 15rem;
    background-color: var(--Green);
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.main_restaurant_content_infoc_menu_pdf label:hover{
    cursor: pointer;
}

.main_restaurant_content_infoc_description{
    width: 100%;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_restaurant_content_infoc_description_text{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_restaurant_content_infoc_description_text textarea{
    width: 60rem;
    height: 25rem;
    border: 2px solid var(--Black);
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
}

.main_restaurant_content_infoc_description_buttons{
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}

.main_restaurant_content_infoc_description_buttons button{
    height: 3rem;
    width: 15rem;
    background-color: var(--Green);
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.main_restaurant_content_infoc_photos{
    margin-top: 3rem;
    width: 100%;
    height: 25rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.main_restaurant_content_infoc_photos_photo{
    width: 35rem;
    height: 25rem;
    display: flex;
    margin-left: 5rem;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid var(--Black);
    background-color: var(--Black);
    border-radius: 1rem;
}

.main_restaurant_content_infoc_photos_photo h3{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--GrayWhite);
}
.main_restaurant_content_infoc_photos_photo img{
    width: 40%;
}

.main_restaurant_content_infoc_photos_photo label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main_restaurant_content_infoc_photos_photo input{
    display: none;
}

.main_restaurant_content_infoc_photos_photo button{
    margin-top: 1rem;
    height: 2rem;
    width: 15rem;
    background-color: var(--Green);
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.main_restaurant_content_infoc_photos_photo label:hover{
    cursor: pointer;
}

.main_restaurant_content_infoc_photos_photo_buttons{
    display: flex;
    gap: 2rem;
}

/*Etiquetas*/
.main_restaurant_content_etiquetas{
    margin-top: 3rem;
    width: 100%;
    height: 25rem;
    padding-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    gap: 1rem;
}

.main_restaurant_content_etiquetas_field{
    width: 70rem;
    height: 10rem;
    padding-left: 6rem;
    display: flex;
    align-items: center;
    gap: 30px;
}

.main_restaurant_content_etiquetas_field label{
    font-size: 1.5rem;
}

.main_restaurant_content_etiquetas_field input{

    width: 24rem;
    height: 4rem;
    border: 2px solid var(--Black);
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.4rem;
}

.main_restaurant_content_etiquetas_field button{
    height: 3rem;
    width: 15rem;
    background-color: var(--Green);
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.main_restaurant_content_etiquetas_list{
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main_restaurant_content_etiquetas_list h3{
    font-size: 1.8rem;
    color: var(--Black);
}

.main_restaurant_content_etiquetas_list_etiqueta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    border: 1.5px solid var(--Black);

}

.main_restaurant_content_etiquetas_list_etiqueta h4{
    font-size: 1.5rem;
    color: var(--Black);
}
.main_restaurant_content_etiquetas_list_etiqueta button{
    background-color: var(--Green);
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    color: white;
}
.espacio{
    height: 5rem;
}